# Bitcoin **Prediction** Project

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# Import data **csv** files

In [4]:
data=pd.read_csv("bitcoin.csv")
data

          Date        Price
0     1/1/2020  7200.174345
1     1/2/2020  6985.470345
2     1/3/2020  7344.884353
3     1/4/2020  7410.653450
4     1/5/2020  7411.317383
..         ...          ...
139  5/19/2020  9729.038086
140  5/20/2020  9522.981445
141  5/21/2020  9081.761719
142  5/22/2020  9182.577148
143  5/23/2020  9180.045898

[144 rows x 2 columns]

In [5]:
type(data["Date"].iloc[0])

str

# set as **date/month/year**

In [6]:
d=[]
m=[]
y=[]
for i in data['Date']:
  c=i[-4:]
  b=i[:i.index('/')]
  a=i[i.index('/')+1:len(i)-i[::-1].index('/')-1]
  a=float(a)
  b=float(b)
  c=float(c)
  d.append(a)
  m.append(b)
  y.append(c)
d=np.array(d)
m=np.array(m)
y=np.array(y)
x=pd.DataFrame({"d":d,"m":m,"y":y})
x

        d    m       y
0     1.0  1.0  2020.0
1     2.0  1.0  2020.0
2     3.0  1.0  2020.0
3     4.0  1.0  2020.0
4     5.0  1.0  2020.0
..    ...  ...     ...
139  19.0  5.0  2020.0
140  20.0  5.0  2020.0
141  21.0  5.0  2020.0
142  22.0  5.0  2020.0
143  23.0  5.0  2020.0

[144 rows x 3 columns]

In [7]:
y=data['Price']
y

0      7200.174345
1      6985.470345
2      7344.884353
3      7410.653450
4      7411.317383
          ...
139    9729.038086
140    9522.981445
141    9081.761719
142    9182.577148
143    9180.045898
Name: Price, Length: 144, dtype: float64

In [8]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y)

In [9]:
lin=LinearRegression()
lin.fit(xtrain,ytrain)

LinearRegression()

In [10]:
lin.predict(xtest)

array([8331.86527639, 8241.48276325, 8165.63633344, 8230.1849491 ,
       7938.62471288, 7988.10957635, 8090.31757249, 7863.30595193,
       8101.61538663, 8445.37108667, 7919.79502264, 8143.04070516,
       7904.73127045, 8305.50371006, 7969.27988611, 8063.42833731,
       8150.57258125, 7893.43345631, 8105.38132468, 8131.74289101,
       8055.89646121, 8173.16820954, 8260.31245348, 7889.66751826,
       8048.36458512, 7882.13564217, 8120.44507687, 7999.40739049,
       7855.77407583, 8297.97183396, 8294.20589591, 8290.43995787,
       8316.8015242 , 8271.61026763, 8279.14214372, 7897.19939436])

In [11]:
ytest

32      9344.365234
56      8820.522461
70      7911.430176
59      8599.508789
121     8864.766602
113     7429.724609
90      6438.644531
141     9081.761719
87      6242.193848
6       8163.692383
126     9268.761719
76      5225.629395
130     8756.430664
39     10116.673830
118     7807.058594
93      6733.387207
74      5392.314941
133     9269.987305
86      6469.798340
79      6198.778320
95      6791.129395
68      7923.644531
51      9686.441406
134     9733.721680
97      7176.414551
136     9377.013672
82      6416.314941
110     6881.958496
143     9180.045898
41     10208.236330
42     10326.054690
43     10214.379880
36      9729.801758
48     10141.996090
46      9934.433594
132     8804.477539
Name: Price, dtype: float64